@use "../../style/utlites/utilites" as *;

.navHeader {
  @include flex_control(space-between, baseline);

  padding: 1rem 4rem;

  .userMenu {
    width: 10rem;
    height: 2rem;

    @include flex_control(space-around, center);
  }
}
.navAddButton {
  color: $profileIcon_color;
  @include heightAndWidth(25px, 25px);
}
.posNavUserProfile {
  @include changePosAbs(50%, 120%, true, false);
}

.posNavAlert {
  @include changePosAbs(50%, 140%, true, false);
}

.posAddButton {
  @include changePosAbs(50%, 140%, true, false);
}
