@use "./../../../style/utlites/utilites" as *;

//root input warrper
div[class*="Overview_charts_display"]
  div[class*="MuiFormControl-root MuiTextField-root"] {
  margin: 0.5rem 0 0 0.5rem;
  //select input
  div[class*="MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input"] {
    padding: 7px 14px;
  }
}
//chart
div[class*="Overview_charts_display"] canvas[role*="img"] {
  height: 260px !important;
  width: 462px;
}
