@use "../../../style/utlites/utilites.scss" as *;
.MainLink {
  .SubLinks {
    li {
      margin-top: 0.3rem;
      padding-left: 1rem;

      a {
        @extend %subLink;
        justify-content: space-around;
      }
    }
  }
}
