@use "../../style/utlites/utilites.scss" as *;

.financial_layout {
  @extend %layout;

  .upper_section {
    @include flex_column();

    .select_input {
      margin-top: 0.3rem;
      margin-left: 7rem;
    }
    .financial_blocks {
      @extend %blocks_section;
      margin-top: 0.3rem;
    }
  }

  .lower_section {
    @extend %oneBlock_section;

    .chart {
      @include heightAndWidth(100%, 80%);
    }
  }
}

main[class*="Layout_main_area"] section[class*="Financial"] {
  //select input
  div[class*="MuiFormControl-root MuiTextField-root"] {
    margin-top: 0.2rem;
    div[class*="MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input"] {
      padding: 7px 14px;
    }
    //date picker
    input[type*="tel"][class*="MuiOutlinedInput-input MuiInputBase-input MuiInputBase-inputAdornedEnd"] {
      padding: 7px 14px;
      border: 3px;
    }
  }
  // chart
  div[class*="ChartBar"] canvas[role*="img"] {
    height: 240px !important;
    width: 851.667px;
  }
}
