@use "../../style/utlites/utilites.scss" as *;

.financial_layout {
  @extend %layout;

  .upper_section {
    @include flex_column();

    .select_input {
      margin-top: 3rem;
      margin-left: 7rem;
    }
    .financial_blocks {
      @extend %blocks_section;
      margin-top: 1rem;
    }
  }

  .lower_section {
    @extend %oneBlock_section;
    @include heightAndWidth(80%, 100%);
    .chart {
      @include heightAndWidth(100%, 80%);
    }
  }
}
