@use "../../style/utlites/utilites.scss" as *;

.overview_Layout {
  @extend %layout;

  .card_blocks {
    @extend %section_1;
    justify-content: space-around;

    .block_data {
      @include heightAndWidth(11rem, 13rem);
    }
  }

  .data_charts {
    @extend %section_2;
    gap: 1rem;

    .dailyTasks {
      flex: 40%;
      @include heightAndWidth(16rem, 16rem);
    }

    .charts_display {
      @include heightAndWidth(16rem, 16rem);
      flex: 60%;
    }
  }
}
