@use "../../style/utlites/utilites.scss" as *;

.overview_Layout {
  @extend %layout;

  .cards_block {
    @extend %blocks_section;

    .block_data {
      @include heightAndWidth(11rem, 12rem);
    }
  }

  .data_charts {
    @extend %oneBlock_section;
    @include heightAndWidth(100%, 90%);
    justify-self: center;
    gap: 1rem;

    .dailyTasks {
      flex: 45%;
      @include heightAndWidth(16rem, 16rem);
    }

    .charts_display {
      @include heightAndWidth(16rem, 16rem);
      flex: 55%;
    }
  }
}
