@use "../../../style/utlites/utilites.scss" as *;
.alert {
  .alertIcon {
    color: $alertBarIcon_color;

    position: relative;
    cursor: pointer;
  }
  .alertIndicator {
    @include alertNotificaion();
  }
  .hasNoAlerts {
    background-color: $Truthy_Color;
  }
  .hasAlerts {
    background-color: $Falsy_color;
  }
}
