@use "./../../../style/utlites/utilites.scss" as *;
.NavListContainer {
  position: relative;
}

.NavList {
  position: absolute;
  // @include changePosAbs(50%, 130%, false, true);
  @include minHeightAndWidth(5rem, 11rem);
  @include heightAndWidth(fit-content, fit-content);
  border-radius: 5px;
  box-shadow: $box-shadow;
  background-color: $HeaderNabBar_color;

  li:not(:first-child) {
    @extend %li_link;
  }
  .NavLinkUi {
    // margin: 0.5rem 0;
    color: black;
    list-style: none;
    font-size: 1rem;
    text-decoration: none;

    a {
      padding: 0.5rem 0;
      &:hover {
        text-decoration: underline;
        background-color: rgb(109, 109, 245);
      }
      &.isActive {
        background-color: none;
      }
    }
  }
}
