@use "../../style/utlites/utilites" as *;

.navHeader {
  @include flex_control(space-between, center);

  padding: 1rem 4rem;
  &_search {
    height: 2rem;
  }
  .userMenu {
    width: 15rem;
    height: 2rem;

    @include flex_control(space-around, center);
  }
}
.navAddButton {
  color: $profileIcon_color;
  @include heightAndWidth(35px, 35px);
}

.navAlert {
  color: $alertBarIcon_color;
  @include heightAndWidth($sizeAlertIcon, $sizeAlertIcon);
}

.posNavUserProfile {
  @include changePosAbs(50%, 120%, true, false);
}

.posNavAlert {
  @include changePosAbs(50%, 140%, true, false);
}

.posAddButton {
  @include changePosAbs(50%, 120%, true, false);
}
