@use "../../style/utlites/utilites.scss" as *;

.activities_layout {
  // @extend %layout;
  @include heightAndWidth(100%, 100%);
  display: flex;
  justify-content: center;
  .upper_section {
    @include heightAndWidth(100%, 85%);
    @include flex_column();

    .select_input {
    }
    .table {
      margin-top: 0.7rem;
      @include heightAndWidth(90%, 100%);
    }
  }
}
