@use "../../../style/utlites/utilites.scss" as *;

a.nav_link {
  @extend %link;

  cursor: pointer;

  span {
    margin: 0 0.5rem;
    height: 1.2rem;
  }

  &.isActive {
    background-color: lighten($color: $SideNavBar_color, $amount: 5);
  }
}
