@use "../../../style/utlites/utilites.scss" as *;

a.nav_link {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  width: 100%;

  display: flex;
  align-items: center;
  color: white;

  cursor: pointer;

  span {
    margin: 0 0.5rem;
    height: 1.2rem;
  }

  &.isActive {
    background-color: lighten($color: $SideNavBar_color, $amount: 5);
  }
}
