@use "../../../style/utlites/utilites.scss" as *;

.subscription {
  flex: 30%;

  @include heightAndWidth(95%, 100%);
  @include flex_control(null, null, column);
  gap: 1rem;
  &_userAccountData {
    @include heightAndWidth(50%, 100%);
    @include flex_control(center, center, column);
    &_content {
      margin-bottom: 2rem;
      @include flex_control(center, center, column);
      @include heightAndWidth(50%, 100%);
      &_picture {
        @include heightAndWidth(100%, 100%);
      }
      &_details {
        @include flex_control(null, null, column);
        .userName {
        }
      }
      .actions {
        @include flex_control(space-between, null, row);

        a {
          font-size: 0.8rem;
        }
      }
    }
  }
  &_status {
    flex: 50%;
    @include heightAndWidth(50%, 100%);
  }
}
