@use "../../style/utlites/utilites.scss" as *;

.SideNavBar {
  background-color: $SideNavBar_color;

  @include flex_column();
  box-shadow: $box-shadow;
  &_logo {
    width: $logoApp;
    height: $logoApp;
  }

  ul {
    li {
      @extend %li_link;
      list-style: none;
      // padding-left: 1.5rem;

      a {
        text-decoration: none;
        color: white;
        &:hover {
          background-color: lighten($color: $SideNavBar_color, $amount: 5);
        }
      }
    }
  }
}
