@use "../../style/utlites/utilites.scss" as *;

.NavBar {
  background-color: $SideNavBar_color;

  @include flex_column();
  box-shadow: $box-shadow;
  &_logo {
    width: $logoApp;
    height: $logoApp;
  }

  ul {
    padding-left: 0.2rem;
    li {
      list-style: none;
      padding-left: 1.5rem;

      &:hover {
        background-color: lighten($color: $SideNavBar_color, $amount: 5);
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
