div[class~="css-6ilb9x-MuiDataGrid-panel"] {
  top: -50px !important;
}
div[class~="css-1g7tkkg-MuiDataGrid-columnsPanelRow"] {
  display: inline;
  padding: 1px 3px 1px 7px;
}
div[class~="css-4rdffl-MuiDataGrid-panelFooter"] {
  padding: 0px;
}
div[class~="css-1qjzotq-MuiDataGrid-panelHeader"] {
  padding: 2px 8px;
}
