div[class*="MuiDataGrid-panel"] {
  top: -50px !important;
}
div[class*="MuiDataGrid-columnsPanelRow"] {
  display: inline;
  padding: 1px 3px 1px 7px;
}
div[class*="MuiDataGrid-panelFooter"] {
  padding: 0px;
}
div[class*="MuiDataGrid-panelHeader"] {
  padding: 2px 8px;
}
