@use "../../style/utlites/utilites.scss" as *;

.analytics_layout {
  @extend %layout;

  .upper_section {
    @include flex_column();

    .select_input {
      margin-top: 3rem;
      margin-left: 7rem;
    }
    .analytics_blocks {
      @extend %blocks_section;
      margin-top: 1rem;
      .stats_block {
        @include heightAndWidth(10rem, 12rem);
      }
    }
  }

  .lower_section {
    @extend %oneBlock_section;
    @include heightAndWidth(80%, 100%);
    .chart {
      @include heightAndWidth(100%, 80%);
    }
  }
}
// .Trainees_Statisic {
//   .Trainees_ListCard {
//     @include heightAndWidth(15rem, 90%);
//   }
// }
