@use "./../../style/utlites/utilites" as *;

.block {
  position: relative;
  background-color: white;
  @extend %Card_Block;
  @include flex_control(center, center, column);

  .lineIndicator {
    position: absolute;
    top: 0;
    @include heightAndWidth(1rem, 100%);
    box-shadow: $box-shadow;
    &_positive {
      @extend .lineIndicator;

      background-color: $Truthy_Color;
    }
    &_negative {
      @extend .lineIndicator;

      background-color: $Falsy_color;
    }
  }
}
