@use "../../style/utlites/utilites.scss" as *;

.userProfilePage {
  @include flex_control(null, null, row);
  @include heightAndWidth(100%, 100%);
  padding: 1.5rem;

  gap: 1rem;

  &_personalData {
    padding: 1rem 1.8em;
    @include heightAndWidth(95%, null);
    @include flex_control(null, null, column);
    flex: 80%;
    max-height: fit-content;

    button {
    }
  }

  &_subscription {
    flex: 30%;

    @include heightAndWidth(95%, 100%);
    @include flex_control(null, null, column);
    gap: 1rem;
  }
}
