@use "../../../style/utlites/utilites" as *;

.Card {
  box-shadow: $box-shadow;
  @include heightAndWidth();
  @include minHeightAndWidth(2rem, 3rem);
  background-color: $backgroundColorCard;
  border: none;
  border-color: $borderColorCard;
  border-radius: 8px;
}
