@use "../../../style/utlites/utilites.scss" as *;

div[class~="FinancialChartBar_heading_card__aQotz"] {
  height: 0.5rem;
  input[class~="css-nxo287-MuiInputBase-input-MuiOutlinedInput-input"] {
    padding: 10.5px 14px;
    border: 3px;
  }
}

.toDate {
  margin-left: 0.5rem;
}
