@use "sass:color";
$body_color: #fefeff;

$SideNavBar_color: rgb(42, 42, 124, 3);
$profileIcon_color: #9da7af;
$alertBarIcon_color: #9da7af;
$noNotification: rgb(94, 231, 94);
$newNotification: red;
$HeaderNabBar_color: #f6f6f7;
$Truthy_Color: rgb(94, 231, 94);
$Falsy_color: red;
$borderColorCard: #eaedf2;
$backgroundColorCard: #ffffff;
