@use "./mixins" as *;

%layout {
  @include heightAndWidth(100%, 100%);
  display: grid;
  grid-template-rows: 1fr 2fr;
}

%oneBlock_section {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  @include heightAndWidth(92%, 100%);
}

%blocks_section {
  @extend %oneBlock_section;
  margin-top: 3rem;

  justify-content: space-evenly;
}

%link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 1.2rem;
}

%subLink {
  @extend %link;
  padding: 0.2rem 1rem;
  margin-top: 0.3rem;
}
%Card_Block {
  @include heightAndWidth(11rem, 13rem);
}
