@use "./mixins" as *;

%layout {
  @include heightAndWidth(100%, 100%);
  display: grid;
  grid-template-rows: 1fr 2fr;
}

%section_1 {
  margin-top: 3rem;
  display: flex;

  justify-content: space-evenly;
}

%section_2 {
  @extend %section_1;
  margin-top: 1rem;
}

%card_block {
  @include heightAndWidth(11rem, 12rem);
}

%link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 1.2rem;
}

%subLink {
  @extend %link;
  padding: 0.2rem 1rem;
  margin-top: 0.3rem;
}
