$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
$sizeProfileIcon: 35px;
$sizeAlertIcon: 25px;
$logoApp: 100px;

$widthSideNavBar: 15vw;
$widthMain: 100- ($widthSideNavBar);
$widthHeaderNavBar: 100- ($widthSideNavBar);
$heightMain: 89vh;
$heightNavBarHeader: 100-$heightMain;
//sizes
$fit_content: fit-content;

//Media query
$smartPhone: 400px;
$tablet: 800px;

//flex_variables
$column: column;
$row: row;
$justify_content: justify-content;
$space_around: space-around;
$space_between: space-between;
$space_evenly: space-evenly;
