$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
$sizeProfileIcon: 35px;
$sizeAlertIcon: 25px;
$logoApp: 100px;

$widthSideNavBar: 15vw;
$withHeaderNavBar: 100- ($widthSideNavBar);
$heightMain: 100vh;
$heightNavBarHeader: 4rem;
